In [1]:
import pandas as pd
from pathlib import Path
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn import linear_model
import numpy as np

In [2]:
df = pd.read_csv(Path('../OSU_Bootcamp_Final_Project_Group5/happiness_kcal_by_country.csv'))
df.head()

,country,happiness_score,Alcoholic_Beverages,Animal_Products,Animal_fats,Cereal_Excluding_Beer,Eggs,Fish_Seafood,Fruits_Excluding_Wine,Meat,...,Starchy_Roots,Stimulants,Sugar_Crops,Sugar_Sweeteners,Treenuts,Vegetal_Products,Vegetable_Oils,Vegetables,Obesity,Population
0,Afghanistan,2.523,0.0000,4.7774,0.8504,37.1186,0.1501,0.0000,1.4757,1.2006,...,0.3252,0.0750,0.0,2.2261,0.1251,45.2476,2.3012,0.7504,4.5,38928000.0
1,Albania,5.117,0.9120,16.0930,1.0591,16.2107,0.8091,0.1471,3.8982,3.8688,...,1.2651,0.2501,0.0,3.4422,0.3972,33.9070,2.8244,2.7508,22.3,2838000.0
2,Algeria,4.887,0.0896,6.0326,0.1941,25.0112,0.4181,0.1195,3.1805,1.2543,...,1.9262,0.1493,0.0,3.9869,0.2240,43.9749,5.7638,2.0457,26.6,44357000.0
3,Argentina,5.929,1.4354,14.9869,1.0650,16.7927,0.8643,0.2006,1.4663,9.4459,...,1.4045,0.2315,0.0,7.0536,0.0463,34.9900,5.5410,0.8643,28.5,45377000.0
4,Armenia,5.283,0.2274,12.8330,1.7706,19.2658,0.7310,0.1787,2.5341,4.2235,...,1.2508,0.6985,0.0,5.2956,0.3086,37.1670,3.5737,3.2164,20.9,2956000.0

In [3]:
X = df[['Alcoholic_Beverages', 'Animal_fats', 'Animal_Products', 'Cereal_Excluding_Beer', 'Eggs','Meat', 'Milk_Excluding_Butter','Vegetal_Products','Vegetables','Obesity']]
#X = df.drop(columns=['happiness_score','country'],axis=1)
y = df['happiness_score']

In [4]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 100)

In [5]:
#Fitting the Multiple Linear Regression model
mlr = LinearRegression()  
mlr.fit(x_train, y_train)

LinearRegression()

In [6]:
print("Intercept: ", mlr.intercept_)
print("Coefficients:")
list(zip(X, mlr.coef_))

Intercept:  80.90243614053414
Coefficients:

[('Alcoholic_Beverages', 0.004442844890836922),
 ('Animal_fats', -0.24854797510099444),
 ('Animal_Products', -1.1378227594651666),
 ('Cereal_Excluding_Beer', -0.05392782604852135),
 ('Eggs', -0.1736051598619158),
 ('Meat', -0.3193122017474539),
 ('Milk_Excluding_Butter', -0.33399235440195585),
 ('Vegetal_Products', -1.5081136777195177),
 ('Vegetables', 0.043837030892317094),
 ('Obesity', 0.019168435228640937)]

In [7]:
#Prediction of test set
y_pred_mlr= mlr.predict(x_test)
#Predicted values
print("Prediction for test set: {}".format(y_pred_mlr))

Prediction for test set: [4.46728927 5.68630078 5.0559713  5.34351728 6.65032038 6.21697889
 6.20349638 5.41847201 6.66255689 5.40656964 5.7263325  5.82786902
 5.69024772 6.19356848 4.65599593 4.75810734 5.88898201 4.29717244
 5.00580796 5.05952158 7.52318223 5.1981443  5.77814666 5.24007507
 4.03701177 4.79091281 5.0093305  4.80729575 6.7014597  6.59460606
 5.24876082 4.59386159 6.1492763  6.3882669  5.39483868 5.99480635
 5.91670164 4.27490332 4.97087293 6.09879473 5.7908507  5.47218269]

In [8]:
#Actual value and the predicted value
mlr_diff = pd.DataFrame({'Actual value': y_test, 'Predicted value': y_pred_mlr})
mlr_diff.head()

     Actual value  Predicted value
136         3.145         4.467289
123         4.948         5.686301
92          5.972         5.055971
106         3.415         5.343517
77          5.198         6.650320

In [9]:
#Model Evaluation
from sklearn import metrics
meanAbErr = metrics.mean_absolute_error(y_test, y_pred_mlr)
meanSqErr = metrics.mean_squared_error(y_test, y_pred_mlr)
rootMeanSqErr = np.sqrt(metrics.mean_squared_error(y_test, y_pred_mlr))
print('R squared: {:.2f}'.format(mlr.score(X,y)*100))
print('Mean Absolute Error:', meanAbErr)
print('Mean Square Error:', meanSqErr)
print('Root Mean Square Error:', rootMeanSqErr)

R squared: 59.95
Mean Absolute Error: 0.592440629442398
Mean Square Error: 0.5334936507188045
Root Mean Square Error: 0.7304064969034739