In [26]:
import pandas as pd
from pathlib import Path
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn import linear_model
import numpy as np

In [27]:
df = pd.read_csv(Path('../happiness_kcal_by_country.csv'))
df.head()

,country,happiness_score,Alcoholic_Beverages,Animal_Products,Animal_fats,Cereal_Excluding_Beer,Eggs,Fish_Seafood,Fruits_Excluding_Wine,Meat,...,Spices,Starchy_Roots,Stimulants,Sugar_Crops,Treenuts,Vegetal_Products,Vegetable_Oils,Vegtables,Obesity,Population
0,Afghanistan,2.523,0.0000,4.7774,0.8504,37.1186,0.1501,0.0000,1.4757,1.2006,...,0.1001,0.3252,0.0750,0.0,0.1251,45.2476,2.3012,0.7504,4.5,38928000.0
1,Albania,5.117,0.9120,16.0930,1.0591,16.2107,0.8091,0.1471,3.8982,3.8688,...,0.0000,1.2651,0.2501,0.0,0.3972,33.9070,2.8244,2.7508,22.3,2838000.0
2,Algeria,4.887,0.0896,6.0326,0.1941,25.0112,0.4181,0.1195,3.1805,1.2543,...,0.1195,1.9262,0.1493,0.0,0.2240,43.9749,5.7638,2.0457,26.6,44357000.0
3,Argentina,5.929,1.4354,14.9869,1.0650,16.7927,0.8643,0.2006,1.4663,9.4459,...,0.0309,1.4045,0.2315,0.0,0.0463,34.9900,5.5410,0.8643,28.5,45377000.0
4,Armenia,5.283,0.2274,12.8330,1.7706,19.2658,0.7310,0.1787,2.5341,4.2235,...,0.0162,1.2508,0.6985,0.0,0.3086,37.1670,3.5737,3.2164,20.9,2956000.0

In [28]:
df.columns

Index(['country', 'happiness_score', 'Alcoholic_Beverages', 'Animal_Products',
       'Animal_fats', 'Cereal_Excluding_Beer', 'Eggs', 'Fish_Seafood',
       'Fruits_Excluding_Wine', 'Meat', 'Milk_Excluding_Butter',
       'Miscellaneous', 'Offals', 'Oilcrops', 'Pulses', 'Spices',
       'Starchy_Roots', 'Stimulants', 'Sugar_Crops', 'Treenuts',
       'Vegetal_Products', 'Vegetable_Oils', 'Vegtables', 'Obesity',
       'Population'],
      dtype='object')

In [29]:
X = df[['Alcoholic_Beverages', 'Animal_Products', 'Animal_fats', 'Eggs']]
y = df['happiness_score']

In [30]:
regr = linear_model.LinearRegression()
regr.fit(X, y)

LinearRegression()

In [31]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 100)

In [32]:
print("Intercept: ", mlr.intercept_)
print("Coefficients:")
list(zip(X, mlr.coef_))

Intercept:  4.154010167602518
Coefficients:

[('Alcoholic_Beverages', 0.08721920941506403),
 ('Animal_Products', 0.09800044378959807),
 ('Animal_fats', 0.08713431375981313),
 ('Eggs', 0.5610909916658684)]

In [33]:
#Prediction of test set
y_pred_mlr= mlr.predict(x_test)
#Predicted values
print("Prediction for test set: {}".format(y_pred_mlr))

Prediction for test set: [4.801798   5.24476561 5.0803852  4.48369202 6.01484937 5.89736728
 6.66434181 5.62259559 6.64749488 4.84451717 4.81371307 5.77628588
 5.08319568 5.95605088 4.42250339 4.65789211 5.75494825 4.66832003
 4.5896456  5.3122836  7.10977825 5.65423564 5.34598335 5.53643917
 4.43102017 4.92691197 4.88502289 4.72931669 6.19934791 6.57248769
 5.10808146 4.98521374 5.70552298 6.40195023 5.12646877 5.93303126
 5.5513369  4.81220911 4.72394411 6.05712815 5.93842882 5.15092699]

In [34]:
#Actual value and the predicted value
mlr_diff = pd.DataFrame({'Actual value': y_test, 'Predicted value': y_pred_mlr})
mlr_diff.head()

     Actual value  Predicted value
136         3.145         4.801798
123         4.948         5.244766
92          5.972         5.080385
106         3.415         4.483692
77          5.198         6.014849

In [36]:
#Model Evaluation
from sklearn import metrics
meanAbErr = metrics.mean_absolute_error(y_test, y_pred_mlr)
meanSqErr = metrics.mean_squared_error(y_test, y_pred_mlr)
rootMeanSqErr = np.sqrt(metrics.mean_squared_error(y_test, y_pred_mlr))
print('R squared: {:.2f}'.format(mlr.score(X,y)*100))
print('Mean Absolute Error:', meanAbErr)
print('Mean Square Error:', meanSqErr)
print('Root Mean Square Error:', rootMeanSqErr)

R squared: 57.96
Mean Absolute Error: 0.5204823056528577
Mean Square Error: 0.4136849950758269
Root Mean Square Error: 0.6431834847660711